/* General Styles */
body {
  margin: 0;
  padding: 0;
  
}

.object-container {
  margin: 0;
  padding: 0;
  
  

  
}

#grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  justify-content: center;
  align-content: center;
  
  
 
  
}

.grid-item img {
  max-width: 400px;
  justify-content: center;
  align-items: center;
  
}
